h1{
    color: rgb(124, 124, 155);

    
}

a{
    text-decoration: none;
    color: gray;
    margin-left: 10px;
}

header {
    color: rgb(116, 150, 194);
    background-color: rgb(175, 226, 247);
    font-size: 25px;
    text-align: left;
}


li {
    list-style-type: none;
    display: inline-block;

}

main { 
    background-color: rgb(207, 238, 238);
    justify-content: center;
   
}


.menu{
    text-align: right;
    display: block;
    font-weight: bold;
    text-decoration: none;
    color: gray
    ;

}

.image{
    background-position: center;

}

.parrafo {
    text-align: left;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer { 
    margin-left: 10px;
    text-align: center;
    background-color: rgb(196, 238, 255);
}

.imagenPrinc {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
}


form {
    text-align: center;
    text-decoration: dotted ;
    color: brown;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
@media (max-width: 699px) {
    .gridPadre{
        grid-template-areas:
        "header"
        "nav"
        
        "footer";
    }
    html {
        font-size: 80%;
    }

    nav {
        position: static;
    }
}
@media (min-width: 700px) and (max-width: 1000px) {

    .gridPadre{
        grid-template-areas:
        "header header"
        "nav nav"
        "footer footer" }
        
    section img {
        width: 200px;
    }
    

}


.image{
    background-position: center;
    margin-block-start: 100px;
    margin-left: 35%;
    min-height: 80px;
    border-radius: 15px;
}

@media{
   .gridPadre{
    background: #00416A; 
    background: -webkit-linear-gradient(to right, #E4E5E6, #00416A); 
    background: linear-gradient(to right, #E4E5E6, #00416A);
    
}
}

h3{
    text-align: center;
    padding-top: 20px;
    font-size: 60px;
}

.comp, .fpe {
    background: #C6FFDD;
background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); 
background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);

}
main{
    display: flex;
    text-align: center;
    font-size: 20px;

}
.div1{
    background-color: rgb(212, 247, 235);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}